<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <span *ngIf="isAuthed">Hello {{currentUserEmail}}</span>
      <span *ngIf="!isAuthed">Not Signed In &nbsp;</span>
      <ion-button *ngIf="isAuthed" color="primary" (click)="testSignOut()">Sign Out</ion-button>
    </ion-buttons>
    <ion-title>
      Golf Score Card App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Golf Score Card App</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div *ngIf="isAuthed; else pleaseSignIn">
    <div *ngIf="courseList$ | async as courseList; else loading">
      <ion-item>
        <ion-label>Choose a Golf Course to start a new ScoreCard</ion-label>
        <ion-button (click)="loadScoreCard()">Or Load Your Saved ScoreCard</ion-button>
      </ion-item>
      <ion-card *ngFor="let course of courseList">
        <ion-card-header>
          <ion-card-title style="text-align: center;">
            <h1>{{course.name}}</h1>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <div style="margin: 0 auto;">
              <img style="border-radius: 16px;" src="{{course.image}}">
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Phone Number: </ion-label>
            {{course.details.phone}}
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Website: </ion-label>
            <a href="{{course.details.website}}" target="_blank">{{course.details.website}}</a>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Location:</ion-label>
            {{course.details.addr1}}. {{course.details.city}}. {{course.details.country}}. {{course.details.zipCode}}
          </ion-item><ion-item> </ion-item>
          <ion-button expand="block" shape="round" (click)="navigateToSetupPage(course.id)">New ScoreCard &amp; Play Your Golf Here</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    <ng-template #loading>
      <div>
        <h2>Loading Golf Courses...</h2>
      </div>
    </ng-template>
  </div>
  <ng-template #pleaseSignIn>
    <app-login-form></app-login-form>
  </ng-template>
</ion-content>
